#textBody
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(48, 223, 185);
    
}


#backgroundBody{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(https://cutewallpaper.org/21/1920x1080-wallpaper-4k/CSGO-4K-Wallpaper-1920x1080-Wallpaper-WebGameApp.com.jpg);
    background-size: cover;
    background-color: rgb(8, 218, 255);
    
}

